.container{
    /* border: 1px solid lightskyblue; */
    background-color: beige;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    margin: 20px;
}
.controles{
    /* border: 1px solid lightskyblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    margin: 20px;
    font-family: "Wendy One", sans-serif; 
    text-decoration: none;
    color: rgb(66, 66, 66);
}