.card {
    border-color: blue;
    border-radius: 10px;
    border: solid 3px;
    max-width: 10em;
    max-height: 30em; 
    min-height: 10em;
    min-width: 10em;
    /* height: fit-content; */
    /* display: flexbox; */
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background: #1974ca52;
    background-position: top;
    position:relative;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    font-size: 14px; 
} 
.link{
    font-family: "Wendy One", sans-serif; 
    text-decoration: none;
    color: azure;
}
.flag{
    padding: 20px;
    min-width: 60px;
    min-height: 60px;
    min-height: auto;
    max-width: 100px;
    max-height: 60px;

}